:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --dark-background: rgba(0, 0, 0, 0.60);
  --light-background: rgba(255, 255, 255, 0.24);
  --light-yellow: #FFC900;
  --linear-btn: linear-gradient(0deg, #266EE0 0.01%, #3A9EED 40.01%, #AEDDFF 100%);
  --linear-btn-inner: linear-gradient(0deg, #3B86E9 2%, #5EBCF6 39.93%, #A9E3FF 100%);
  --action-gradient: radial-gradient(506.87% 50% at 50% 100%, #0087F0 0%, #0058C2 100%);
  --border-color: #3BB0FF;
  --btn-height: max(2.875rem, min(12dvh, 3.25rem));
  --text-container-height: max(7.5rem, min(30dvh, 10.5rem));
  --actions-mb: max(1.75rem, min(7dvh, 4rem));
  --btns-bottom: calc(0px - var(--btn-height) / 2 + 12px);
  --title-width: max(130px, min(40dvh, 170px));
  --char-height: max(calc(100dvw / 3), 80dvh);
  --rowFlex-btns-width: max(3rem, min(12dvw, 7.5rem));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 0.75rem;
}

.questWindow img,
.hidden,
.text {
  pointer-events: none;
}

.container,
.questWindow,
.rotateScreen {
  height: 100dvh;
}

.questWindow,
.rotateScreen {
  width: 100dvw;
}

.questBackground,
.questBackground img,
.charInner img,
.charInner,
.overlay,
.chooseCharInner,
.btnInner,
.startInner,
.actionImage img,
.bus img,
.helpPopupOverlay,
.btnInner:before,
.preloader,
.progress,
.textInner,
.btnsContainer,
.scene,
.startSceneContainer,
.startSceneCloseInner {
  height: 100%;
}

.questBackground,
.questBackground img,
.overlay,
.actions,
.textContainer,
.textInner,
.chooseCharInner,
.btnInner,
.startInner,
.rowFlexBtns .btnInner,
.absBtn .btnInner,
.actionImage,
.helpPopup,
.helpPopupOverlay,
.btnsWrapper,
.preloader,
.btn,
.startQuest,
.arrow,
.actionImage img,
.startSceneContainer,
.startSceneCloseInner {
  width: 100%;
}

.container,
.startInner,
.charInner,
.textContainer,
.actionImage,
.closeInner,
.helpInner,
.closeHelpInner,
.title,
.helpPopupOverlay,
.rowFlexBtns .btnInner,
.absBtn .btnInner,
.progressText,
.rowFlexBtns,
.preloader,
.startSceneContainer,
.startSceneCloseInner {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.container,
.questControls,
.btnInner,
.startInner,
.actionImage,
.closeInner,
.helpInner,
.closeHelpInner,
.title,
.chooseCharInner,
.helpPopupOverlay,
.preloader,
.startSceneContainer,
.startSceneCloseInner {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.container,
.actions,
.textInner,
.btnsContainer,
.preloader {
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.actions,
.btnsContainer {
  -ms-align-items: flex-end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}

.container,
.questControls,
.closeInner,
.helpInner,
.closeHelpInner,
.characters,
.charInner,
.actions,
.textInner,
.btnsContainer,
.btnInner,
.startInner,
.title,
.chooseCharInner,
.progressText,
.dots,
.preloader,
.helpPopupOverlay,
.actionImage,
.scene,
.startSceneContainer,
.helpPopup,
.startSceneInner,
.startSceneCloseInner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.absBtn .btnInner:before,
.rowFlexBtns .btnInner:before,
.rotateScreen,
.btnsContainer::-webkit-scrollbar {
  display: none;
}

.btnsContainer .overlay,
.hidden,
.text span,
.arrow,
.progressText span {
  opacity: 0;
}

.title,
.characters,
.btnChooseChar,
.absBtn,
.rowFlexBtns,
.startSceneClose {
  left: 50%;
}

.characters {
  top: 50%;
}

.questWindow,
.rotateScreen,
.arrow.arrowUp,
.helpPopupOverlay,
.overlay,
.startSceneContainer {
  top: 0;
}

.questWindow,
.rotateScreen,
.helpPopupOverlay,
.overlay,
.startSceneContainer {
  left: 0;
}

.textContainer,
.char,
.btn,
.startQuest,
.chooseCharInner,
.actions,
.btnsWrapper,
.progressText,
.progress,
.helpPopup,
.startSceneContainer,
.startSceneInner {
  position: relative;
}

.questBackground,
.questControls,
.characters,
.overlay,
.currentChar img,
.title,
.btnChooseChar,
.btn:after,
.chooseCharInner:after,
.startQuest:after,
.actionImage,
.rowFlexBtns,
.closeHelp,
.helpPopupOverlay,
.rotateScreen,
.questWindow,
.preloader,
.progressText span,
.arrow,
.startSceneClose {
  position: absolute;
}

.questBackground,
.actionImage {
  z-index: -1;
}

.questWindow {
  z-index: 99000;
  overflow: hidden;
  user-select: none;
  background: url('../public/images/back.png') no-repeat center center / cover;
}

.questBackground img {
  object-fit: cover;
  object-position: center;
  transition: 0.3s filter ease;
}

.startQuest,
.absBtn,
.rowFlexBtns .btn {
  width: unset !important;
}

.rowFlexBtns .btnInner,
.absBtn .btnInner,
.startInner,
.textInner,
.btnChooseChar,
.rotateText {
  text-align: center;
}

.closeQuest,
.helpQuest,
.closeHelp {
  padding: 0.375rem;
  background: var(--linear-btn);
  z-index: 1000;
}

.popupOverlay,
.closeQuest,
.helpQuest,
.closeHelp,
.char,
.btn,
.startQuest,
.helpPopupOverlay,
.startSceneClose {
  cursor: pointer;
}

.questControls {
  right: 2rem;
  top: 2rem;
  gap: 1.75rem;
}

.closeInner,
.helpInner,
.closeHelpInner,
.closeQuest,
.helpQuest,
.closeHelp {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

.closeInner,
.helpInner,
.closeHelpInner {
  padding: 0.375rem;
  border: 2px solid var(--border-color);
  background: var(--action-gradient);
  width: 2rem;
  height: 2rem;
}

.btnInner,
.startInner,
.title,
.text,
.btnChooseChar,
.helpPopup,
.startSceneContent,
.startSceneCloseInner {
  color: var(--color-white);
}

.closeInner img,
.closeHelpInner img {
  height: 0.75rem;
  width: 0.75rem;
}

.helpInner img {
  height: 1rem;
  width: 1rem;
}

.characters {
  gap: 2.25rem;
  height: 76%;
  width: 100%;
  max-width: 960px;
  padding: 0 20px;
}

.characters {
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.char {
  min-width: calc(50% - 2.25rem / 2);
  transition: 0.3s all ease;
  border-style: solid;
  border-width: 26px 16px 20px;
  border-image-source: url("data:image/svg+xml;charset=UTF-8,%3csvg width='527' height='825' viewBox='0 0 527 825' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M283.128 824.945C253.429 824.945 46.0301 825.142 16.8457 824.788C15.5407 824.788 14.4334 823.882 14.2357 822.582C13.3657 817.344 9.88573 813.365 4.38894 812.341C3.16304 812.105 2.29304 811.12 2.21395 809.899C0.355328 779.019 -0.435576 39.153 0.236693 18.238C0.236693 17.0563 1.0276 16.111 2.17441 15.7959C8.06665 14.181 11.3489 9.06055 11.5071 2.91602C11.5071 1.49805 12.733 0.355794 14.1566 0.316406C32.2683 -0.0380863 252.678 0.00130211 283.128 0.00130211C313.578 0.00130211 494.732 0.0013018 512.843 0.316406C514.267 0.316406 515.453 1.45866 515.493 2.91602C515.612 9.06055 518.933 14.181 524.826 15.7959C525.972 16.111 526.724 17.0957 526.763 18.238C527.436 39.153 526.645 779.019 524.786 809.899C524.707 811.12 523.837 812.105 522.611 812.341C517.114 813.365 513.634 817.344 512.764 822.582C512.567 823.882 511.459 824.788 510.154 824.788C480.97 825.142 312.826 824.945 283.128 824.945Z' fill='url(%23paint0_linear_104_17493)'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M508.198 817.437C510.136 812.218 514.05 808.185 519.229 806.129C520.218 787.863 520.534 103.509 520.811 85.2431C521.008 72.0774 521.167 58.9511 521.206 45.7854C521.206 37.8385 521.246 29.8125 521.088 21.826C515.434 19.0585 511.678 13.9187 510.294 7.82999C492.384 7.55324 486.645 7.59277 468.695 7.59277C457.624 7.59277 282.554 7.59277 271.484 7.59277C260.414 7.59277 83.3432 7.59277 72.2729 7.59277C54.3627 7.59277 36.3734 7.55324 18.4237 7.82999C17.0794 13.9582 13.3234 19.098 7.63014 21.826C7.43246 29.8125 7.47199 37.8385 7.51153 45.7854C7.51153 58.9511 7.66968 72.0774 7.9069 85.2431C8.22319 103.509 8.49995 787.863 9.48837 806.129C14.7072 808.185 18.5818 812.218 20.5192 817.437C48.8275 817.753 247.136 817.555 275.444 817.555C303.753 817.555 479.811 817.753 508.119 817.437H508.198Z' fill='url(%23paint1_linear_104_17493)'/%3e%3cpath style='mix-blend-mode:screen' fill-rule='evenodd' clip-rule='evenodd' d='M19.0067 8.46232C17.5452 14.3928 13.8321 19.414 8.34162 22.2211C8.18362 30.0494 8.18362 37.9173 8.22312 45.7456C8.22312 58.9113 8.38112 72.0376 8.61812 85.2033C8.93412 103.39 9.01237 787.228 9.99988 805.375C15.0559 807.471 19.0462 811.914 21.0607 816.975C49.1848 817.291 77.3089 817.093 105.433 817.093C133.557 817.093 479.985 817.251 508.109 816.975C510.124 811.914 513.916 807.96 518.972 805.865C519.959 787.678 520.236 103.39 520.552 85.2033C520.749 72.0376 520.907 58.9113 520.947 45.7456C520.947 37.9173 520.986 30.0494 520.828 22.2211C515.338 19.414 511.625 14.3928 510.163 8.46232C492.428 8.18556 156.349 8.2251 138.613 8.2251C127.553 8.2251 116.493 8.2251 105.433 8.2251C94.373 8.2251 83.3129 8.2251 72.2529 8.2251C54.5173 8.2251 36.7422 8.18556 19.0067 8.46232Z' fill='url(%23paint2_linear_104_17493)'/%3e%3cpath style='mix-blend-mode:screen' opacity='0.5' fill-rule='evenodd' clip-rule='evenodd' d='M19.0167 8.46232C17.5538 14.3928 13.8374 19.414 8.34175 22.2211C8.1836 30.0494 8.1836 367.917 8.22314 375.746C8.22314 381.597 8.26267 387.448 8.34175 393.3C8.53943 416.389 519.468 416.389 519.705 393.3C519.745 387.448 519.784 381.597 519.824 375.746C519.824 367.917 519.863 30.0494 519.705 22.2211C514.209 19.414 510.493 14.3928 509.03 8.46232C491.278 8.18556 156.486 8.2251 138.734 8.2251C127.664 8.2251 116.594 8.2251 105.523 8.2251C94.453 8.2251 83.3827 8.2251 72.3124 8.2251C54.5603 8.2251 36.7687 8.18556 19.0167 8.46232Z' fill='url(%23paint3_linear_104_17493)'/%3e%3cpath d='M509.627 804.254H18.1234C16.3838 804.254 15 802.831 15 801.13V29.3734C15 27.6338 16.4233 26.25 18.1234 26.25H509.627C511.367 26.25 512.751 27.6733 512.751 29.3734V801.091C512.751 802.831 511.327 804.214 509.627 804.214V804.254Z' fill='url(%23paint4_radial_104_17493)'/%3e%3cpath d='M510.627 804.504H18.1234C16.3838 804.504 15 803.081 15 801.38V29.3734C15 27.6338 16.4233 26.25 18.1234 26.25H510.627C512.367 26.25 513.751 27.6733 513.751 29.3734V801.341C513.751 803.081 512.327 804.464 510.627 804.464V804.504ZM18.1234 28.0292C17.3722 28.0292 16.7792 28.6222 16.7792 29.3734V801.341C16.7792 802.092 17.3722 802.685 18.1234 802.685H510.627C511.379 802.685 511.972 802.092 511.972 801.341V29.3734C511.972 28.6222 511.379 28.0292 510.627 28.0292H18.1234Z' fill='url(%23paint5_linear_104_17493)'/%3e%3cdefs%3e%3clinearGradient id='paint0_linear_104_17493' x1='57.8649' y1='824.915' x2='57.8649' y2='0.00727692' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23266EE0'/%3e%3cstop offset='0.4' stop-color='%233A9EED'/%3e%3cstop offset='1' stop-color='%23AEDDFF'/%3e%3c/linearGradient%3e%3clinearGradient id='paint1_linear_104_17493' x1='105.523' y1='682.5' x2='105.523' y2='7.55325' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23266EE0'/%3e%3cstop offset='0.4' stop-color='%233A9EED'/%3e%3cstop offset='1' stop-color='%23AEDDFF'/%3e%3c/linearGradient%3e%3clinearGradient id='paint2_linear_104_17493' x1='105.433' y1='638' x2='105.433' y2='8.2251' gradientUnits='userSpaceOnUse'%3e%3cstop offset='0.02' stop-color='%23131932'/%3e%3cstop offset='1' stop-color='%230F4B94'/%3e%3c/linearGradient%3e%3clinearGradient id='paint3_linear_104_17493' x1='105.523' y1='80.6566' x2='105.523' y2='8.2251' gradientUnits='userSpaceOnUse'%3e%3cstop offset='0.02' stop-color='%23150000'/%3e%3cstop offset='0.98' stop-color='%230D64C5'/%3e%3c/linearGradient%3e%3cradialGradient id='paint4_radial_104_17493' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(64 744) rotate(-68.9968) scale(719.825 888.666)'%3e%3cstop stop-color='%230087F0'/%3e%3cstop offset='1' stop-color='%230058C2'/%3e%3c/radialGradient%3e%3clinearGradient id='paint5_linear_104_17493' x1='63.6547' y1='804.504' x2='63.6547' y2='26.25' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%233BB0FF'/%3e%3cstop offset='1' stop-color='%23A8DCFF'/%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  -webkit-border-image-source: url("data:image/svg+xml;charset=UTF-8,%3csvg width='527' height='825' viewBox='0 0 527 825' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M283.128 824.945C253.429 824.945 46.0301 825.142 16.8457 824.788C15.5407 824.788 14.4334 823.882 14.2357 822.582C13.3657 817.344 9.88573 813.365 4.38894 812.341C3.16304 812.105 2.29304 811.12 2.21395 809.899C0.355328 779.019 -0.435576 39.153 0.236693 18.238C0.236693 17.0563 1.0276 16.111 2.17441 15.7959C8.06665 14.181 11.3489 9.06055 11.5071 2.91602C11.5071 1.49805 12.733 0.355794 14.1566 0.316406C32.2683 -0.0380863 252.678 0.00130211 283.128 0.00130211C313.578 0.00130211 494.732 0.0013018 512.843 0.316406C514.267 0.316406 515.453 1.45866 515.493 2.91602C515.612 9.06055 518.933 14.181 524.826 15.7959C525.972 16.111 526.724 17.0957 526.763 18.238C527.436 39.153 526.645 779.019 524.786 809.899C524.707 811.12 523.837 812.105 522.611 812.341C517.114 813.365 513.634 817.344 512.764 822.582C512.567 823.882 511.459 824.788 510.154 824.788C480.97 825.142 312.826 824.945 283.128 824.945Z' fill='url(%23paint0_linear_104_17493)'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M508.198 817.437C510.136 812.218 514.05 808.185 519.229 806.129C520.218 787.863 520.534 103.509 520.811 85.2431C521.008 72.0774 521.167 58.9511 521.206 45.7854C521.206 37.8385 521.246 29.8125 521.088 21.826C515.434 19.0585 511.678 13.9187 510.294 7.82999C492.384 7.55324 486.645 7.59277 468.695 7.59277C457.624 7.59277 282.554 7.59277 271.484 7.59277C260.414 7.59277 83.3432 7.59277 72.2729 7.59277C54.3627 7.59277 36.3734 7.55324 18.4237 7.82999C17.0794 13.9582 13.3234 19.098 7.63014 21.826C7.43246 29.8125 7.47199 37.8385 7.51153 45.7854C7.51153 58.9511 7.66968 72.0774 7.9069 85.2431C8.22319 103.509 8.49995 787.863 9.48837 806.129C14.7072 808.185 18.5818 812.218 20.5192 817.437C48.8275 817.753 247.136 817.555 275.444 817.555C303.753 817.555 479.811 817.753 508.119 817.437H508.198Z' fill='url(%23paint1_linear_104_17493)'/%3e%3cpath style='mix-blend-mode:screen' fill-rule='evenodd' clip-rule='evenodd' d='M19.0067 8.46232C17.5452 14.3928 13.8321 19.414 8.34162 22.2211C8.18362 30.0494 8.18362 37.9173 8.22312 45.7456C8.22312 58.9113 8.38112 72.0376 8.61812 85.2033C8.93412 103.39 9.01237 787.228 9.99988 805.375C15.0559 807.471 19.0462 811.914 21.0607 816.975C49.1848 817.291 77.3089 817.093 105.433 817.093C133.557 817.093 479.985 817.251 508.109 816.975C510.124 811.914 513.916 807.96 518.972 805.865C519.959 787.678 520.236 103.39 520.552 85.2033C520.749 72.0376 520.907 58.9113 520.947 45.7456C520.947 37.9173 520.986 30.0494 520.828 22.2211C515.338 19.414 511.625 14.3928 510.163 8.46232C492.428 8.18556 156.349 8.2251 138.613 8.2251C127.553 8.2251 116.493 8.2251 105.433 8.2251C94.373 8.2251 83.3129 8.2251 72.2529 8.2251C54.5173 8.2251 36.7422 8.18556 19.0067 8.46232Z' fill='url(%23paint2_linear_104_17493)'/%3e%3cpath style='mix-blend-mode:screen' opacity='0.5' fill-rule='evenodd' clip-rule='evenodd' d='M19.0167 8.46232C17.5538 14.3928 13.8374 19.414 8.34175 22.2211C8.1836 30.0494 8.1836 367.917 8.22314 375.746C8.22314 381.597 8.26267 387.448 8.34175 393.3C8.53943 416.389 519.468 416.389 519.705 393.3C519.745 387.448 519.784 381.597 519.824 375.746C519.824 367.917 519.863 30.0494 519.705 22.2211C514.209 19.414 510.493 14.3928 509.03 8.46232C491.278 8.18556 156.486 8.2251 138.734 8.2251C127.664 8.2251 116.594 8.2251 105.523 8.2251C94.453 8.2251 83.3827 8.2251 72.3124 8.2251C54.5603 8.2251 36.7687 8.18556 19.0167 8.46232Z' fill='url(%23paint3_linear_104_17493)'/%3e%3cpath d='M509.627 804.254H18.1234C16.3838 804.254 15 802.831 15 801.13V29.3734C15 27.6338 16.4233 26.25 18.1234 26.25H509.627C511.367 26.25 512.751 27.6733 512.751 29.3734V801.091C512.751 802.831 511.327 804.214 509.627 804.214V804.254Z' fill='url(%23paint4_radial_104_17493)'/%3e%3cpath d='M510.627 804.504H18.1234C16.3838 804.504 15 803.081 15 801.38V29.3734C15 27.6338 16.4233 26.25 18.1234 26.25H510.627C512.367 26.25 513.751 27.6733 513.751 29.3734V801.341C513.751 803.081 512.327 804.464 510.627 804.464V804.504ZM18.1234 28.0292C17.3722 28.0292 16.7792 28.6222 16.7792 29.3734V801.341C16.7792 802.092 17.3722 802.685 18.1234 802.685H510.627C511.379 802.685 511.972 802.092 511.972 801.341V29.3734C511.972 28.6222 511.379 28.0292 510.627 28.0292H18.1234Z' fill='url(%23paint5_linear_104_17493)'/%3e%3cdefs%3e%3clinearGradient id='paint0_linear_104_17493' x1='57.8649' y1='824.915' x2='57.8649' y2='0.00727692' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23266EE0'/%3e%3cstop offset='0.4' stop-color='%233A9EED'/%3e%3cstop offset='1' stop-color='%23AEDDFF'/%3e%3c/linearGradient%3e%3clinearGradient id='paint1_linear_104_17493' x1='105.523' y1='682.5' x2='105.523' y2='7.55325' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23266EE0'/%3e%3cstop offset='0.4' stop-color='%233A9EED'/%3e%3cstop offset='1' stop-color='%23AEDDFF'/%3e%3c/linearGradient%3e%3clinearGradient id='paint2_linear_104_17493' x1='105.433' y1='638' x2='105.433' y2='8.2251' gradientUnits='userSpaceOnUse'%3e%3cstop offset='0.02' stop-color='%23131932'/%3e%3cstop offset='1' stop-color='%230F4B94'/%3e%3c/linearGradient%3e%3clinearGradient id='paint3_linear_104_17493' x1='105.523' y1='80.6566' x2='105.523' y2='8.2251' gradientUnits='userSpaceOnUse'%3e%3cstop offset='0.02' stop-color='%23150000'/%3e%3cstop offset='0.98' stop-color='%230D64C5'/%3e%3c/linearGradient%3e%3cradialGradient id='paint4_radial_104_17493' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(64 744) rotate(-68.9968) scale(719.825 888.666)'%3e%3cstop stop-color='%230087F0'/%3e%3cstop offset='1' stop-color='%230058C2'/%3e%3c/radialGradient%3e%3clinearGradient id='paint5_linear_104_17493' x1='63.6547' y1='804.504' x2='63.6547' y2='26.25' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%233BB0FF'/%3e%3cstop offset='1' stop-color='%23A8DCFF'/%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  border-image-slice: 26 13 20 15 fill;
  -webkit-border-image-slice: 26 13 20 15 fill;
}

.charInner {
  border-radius: 1rem;
  -moz-border-radius: 1rem;
  -webkit-border-radius: 1rem;
  padding: 6dvh;
}

.overlay,
.helpPopup,
.helpPopupOverlay,
.arrow,
.btnsContainer,
.btn,
.characters,
.currentChar,
.title,
.questWindow,
.preloader {
  transition: 0.3s opacity ease;
}

.helpPopupOverlay,
.overlay,
.questControls {
  z-index: 1003;
}


.overlay {
  background: var(--color-black);
}

.currentChar img {
  bottom: calc(0px - var(--char-height) + 80dvh);
  left: 10%;
  height: var(--char-height);
}

.actions,
.arrow.arrowDown {
  bottom: 0;
}

.actions {
  margin-bottom: var(--actions-mb);
  justify-content: flex-end;
  -ms-flex-pack: end;
  -webkit-box-pack: end;
  max-height: 100%;
}

.textContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex !important;
  min-height: var(--text-container-height);
}

.textInner {
  max-width: 960px;
  margin: 0 2rem;
  padding: min(4dvh, 2rem) min(4dvh, 2rem) min(5dvh, 3rem);
}

.textInner,
.helpPopup,
.startSceneInner {
  border-width: 1.5rem 1rem;
  border-style: solid;
  border-color: transparent;
  border-image-source: url("data:image/svg+xml;charset=UTF-8,%3csvg width='960' height='175' viewBox='0 0 960 175' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M493.128 174.945C463.429 174.945 46.0301 175.142 16.8457 174.788C15.5407 174.788 14.4334 173.882 14.2357 172.582C13.3657 167.344 9.88573 163.365 4.38894 162.341C3.16304 162.105 2.29304 161.12 2.21395 159.899C0.355328 129.019 -0.435576 39.153 0.236693 18.238C0.236693 17.0563 1.0276 16.111 2.17441 15.7959C8.06665 14.181 11.3489 9.06055 11.5071 2.91602C11.5071 1.49805 12.733 0.355794 14.1566 0.316406C32.2683 -0.0380863 462.678 0.00130211 493.128 0.00130211C523.578 0.00130211 927.732 0.0013018 945.843 0.316406C947.267 0.316406 948.453 1.45866 948.493 2.91602C948.612 9.06055 951.933 14.181 957.826 15.7959C958.972 16.111 959.724 17.0957 959.763 18.238C960.436 39.153 959.645 129.019 957.786 159.899C957.707 161.12 956.837 162.105 955.611 162.341C950.114 163.365 946.634 167.344 945.764 172.582C945.567 173.882 944.459 174.788 943.154 174.788C913.97 175.142 522.826 174.945 493.128 174.945Z' fill='url(%23paint0_linear_79_6337)'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M939.199 165.437C941.136 160.218 945.05 156.185 950.229 154.129C951.218 135.863 951.534 103.509 951.811 85.2432C952.009 72.0774 952.167 58.9511 952.206 45.7854C952.206 37.8385 952.246 29.8125 952.088 21.826C946.434 19.0585 942.678 13.9187 941.294 7.82999C923.384 7.55324 156.645 7.59277 138.695 7.59277C127.624 7.59277 116.554 7.59277 105.484 7.59277C94.4135 7.59277 83.3432 7.59277 72.2729 7.59277C54.3627 7.59277 36.3734 7.55324 18.4237 7.82999C17.0794 13.9582 13.3234 19.098 7.63014 21.826C7.43246 29.8125 7.47199 37.8385 7.51153 45.7854C7.51153 58.9511 7.66968 72.0774 7.9069 85.2432C8.22319 103.509 8.49995 135.863 9.48837 154.129C14.7072 156.185 18.5818 160.218 20.5192 165.437C48.8275 165.753 77.1359 165.555 105.444 165.555C133.753 165.555 910.811 165.753 939.119 165.437H939.199Z' fill='url(%23paint1_linear_79_6337)'/%3e%3cpath style='mix-blend-mode:screen' fill-rule='evenodd' clip-rule='evenodd' d='M19.0067 8.46232C17.5452 14.3928 13.8321 19.414 8.34162 22.2211C8.18362 30.0494 8.18362 37.9173 8.22312 45.7456C8.22312 58.9113 8.38112 72.0376 8.61812 85.2033C8.93412 103.39 9.01237 136.228 9.99988 154.375C15.0559 156.471 19.0462 160.914 21.0607 165.975C49.1848 166.291 77.3089 166.093 105.433 166.093C133.557 166.093 910.985 166.251 939.109 165.975C941.124 160.914 944.916 156.96 949.972 154.865C950.959 136.678 951.236 103.39 951.552 85.2033C951.749 72.0376 951.907 58.9113 951.947 45.7456C951.947 37.9173 951.986 30.0494 951.828 22.2211C946.338 19.414 942.625 14.3928 941.163 8.46232C923.428 8.18556 156.349 8.2251 138.613 8.2251C127.553 8.2251 116.493 8.2251 105.433 8.2251C94.373 8.2251 83.3129 8.2251 72.2529 8.2251C54.5173 8.2251 36.7422 8.18556 19.0067 8.46232Z' fill='url(%23paint2_linear_79_6337)'/%3e%3cpath style='mix-blend-mode:screen' opacity='0.5' fill-rule='evenodd' clip-rule='evenodd' d='M19.0167 8.46232C17.5538 14.3928 13.8374 19.414 8.34175 22.2211C8.1836 30.0494 8.1836 37.9173 8.22314 45.7456C8.22314 51.597 8.26267 57.4485 8.34175 63.2999C8.53943 86.3895 952.468 86.3895 952.705 63.2999C952.744 57.4485 952.784 51.597 952.823 45.7456C952.823 37.9173 952.863 30.0494 952.705 22.2211C947.209 19.414 943.493 14.3928 942.03 8.46232C924.278 8.18556 156.486 8.2251 138.734 8.2251C127.664 8.2251 116.594 8.2251 105.523 8.2251C94.453 8.2251 83.3827 8.2251 72.3124 8.2251C54.5603 8.2251 36.7687 8.18556 19.0167 8.46232Z' fill='url(%23paint3_linear_79_6337)'/%3e%3cpath d='M943.627 151.254H18.1234C16.3838 151.254 15 149.831 15 148.13V29.3734C15 27.6338 16.4233 26.25 18.1234 26.25H943.627C945.367 26.25 946.751 27.6733 946.751 29.3734V148.091C946.751 149.831 945.328 151.214 943.627 151.214V151.254Z' fill='url(%23paint4_radial_79_6337)'/%3e%3cpath d='M943.627 152.504H18.1234C16.3838 152.504 15 151.081 15 149.38V29.3734C15 27.6338 16.4233 26.25 18.1234 26.25H943.627C945.367 26.25 946.751 27.6733 946.751 29.3734V149.341C946.751 151.081 945.328 152.464 943.627 152.464V152.504ZM18.1234 28.0292C17.3722 28.0292 16.7792 28.6222 16.7792 29.3734V149.341C16.7792 150.092 17.3722 150.685 18.1234 150.685H943.627C944.379 150.685 944.972 150.092 944.972 149.341V29.3734C944.972 28.6222 944.379 28.0292 943.627 28.0292H18.1234Z' fill='url(%23paint5_linear_79_6337)'/%3e%3cdefs%3e%3clinearGradient id='paint0_linear_79_6337' x1='105.408' y1='174.982' x2='105.408' y2='0.00154359' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23266EE0'/%3e%3cstop offset='0.4' stop-color='%233A9EED'/%3e%3cstop offset='1' stop-color='%23AEDDFF'/%3e%3c/linearGradient%3e%3clinearGradient id='paint1_linear_79_6337' x1='105.523' y1='140.595' x2='105.523' y2='7.55323' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23266EE0'/%3e%3cstop offset='0.4' stop-color='%233A9EED'/%3e%3cstop offset='1' stop-color='%23AEDDFF'/%3e%3c/linearGradient%3e%3clinearGradient id='paint2_linear_79_6337' x1='105.433' y1='139.962' x2='105.433' y2='8.22509' gradientUnits='userSpaceOnUse'%3e%3cstop offset='0.02' stop-color='%23131932'/%3e%3cstop offset='1' stop-color='%230F4B94'/%3e%3c/linearGradient%3e%3clinearGradient id='paint3_linear_79_6337' x1='105.523' y1='80.6566' x2='105.523' y2='8.2251' gradientUnits='userSpaceOnUse'%3e%3cstop offset='0.02' stop-color='%23150000'/%3e%3cstop offset='0.98' stop-color='%230D64C5'/%3e%3c/linearGradient%3e%3cradialGradient id='paint4_radial_79_6337' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(104.946 183.713) scale(147.354 181.917)'%3e%3cstop stop-color='%230087F0'/%3e%3cstop offset='1' stop-color='%230058C2'/%3e%3c/radialGradient%3e%3clinearGradient id='paint5_linear_79_6337' x1='105.895' y1='152.504' x2='105.895' y2='26.25' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%233BB0FF'/%3e%3cstop offset='1' stop-color='%23A8DCFF'/%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  -webkit-border-image-source: url("data:image/svg+xml;charset=UTF-8,%3csvg width='960' height='175' viewBox='0 0 960 175' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M493.128 174.945C463.429 174.945 46.0301 175.142 16.8457 174.788C15.5407 174.788 14.4334 173.882 14.2357 172.582C13.3657 167.344 9.88573 163.365 4.38894 162.341C3.16304 162.105 2.29304 161.12 2.21395 159.899C0.355328 129.019 -0.435576 39.153 0.236693 18.238C0.236693 17.0563 1.0276 16.111 2.17441 15.7959C8.06665 14.181 11.3489 9.06055 11.5071 2.91602C11.5071 1.49805 12.733 0.355794 14.1566 0.316406C32.2683 -0.0380863 462.678 0.00130211 493.128 0.00130211C523.578 0.00130211 927.732 0.0013018 945.843 0.316406C947.267 0.316406 948.453 1.45866 948.493 2.91602C948.612 9.06055 951.933 14.181 957.826 15.7959C958.972 16.111 959.724 17.0957 959.763 18.238C960.436 39.153 959.645 129.019 957.786 159.899C957.707 161.12 956.837 162.105 955.611 162.341C950.114 163.365 946.634 167.344 945.764 172.582C945.567 173.882 944.459 174.788 943.154 174.788C913.97 175.142 522.826 174.945 493.128 174.945Z' fill='url(%23paint0_linear_79_6337)'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M939.199 165.437C941.136 160.218 945.05 156.185 950.229 154.129C951.218 135.863 951.534 103.509 951.811 85.2432C952.009 72.0774 952.167 58.9511 952.206 45.7854C952.206 37.8385 952.246 29.8125 952.088 21.826C946.434 19.0585 942.678 13.9187 941.294 7.82999C923.384 7.55324 156.645 7.59277 138.695 7.59277C127.624 7.59277 116.554 7.59277 105.484 7.59277C94.4135 7.59277 83.3432 7.59277 72.2729 7.59277C54.3627 7.59277 36.3734 7.55324 18.4237 7.82999C17.0794 13.9582 13.3234 19.098 7.63014 21.826C7.43246 29.8125 7.47199 37.8385 7.51153 45.7854C7.51153 58.9511 7.66968 72.0774 7.9069 85.2432C8.22319 103.509 8.49995 135.863 9.48837 154.129C14.7072 156.185 18.5818 160.218 20.5192 165.437C48.8275 165.753 77.1359 165.555 105.444 165.555C133.753 165.555 910.811 165.753 939.119 165.437H939.199Z' fill='url(%23paint1_linear_79_6337)'/%3e%3cpath style='mix-blend-mode:screen' fill-rule='evenodd' clip-rule='evenodd' d='M19.0067 8.46232C17.5452 14.3928 13.8321 19.414 8.34162 22.2211C8.18362 30.0494 8.18362 37.9173 8.22312 45.7456C8.22312 58.9113 8.38112 72.0376 8.61812 85.2033C8.93412 103.39 9.01237 136.228 9.99988 154.375C15.0559 156.471 19.0462 160.914 21.0607 165.975C49.1848 166.291 77.3089 166.093 105.433 166.093C133.557 166.093 910.985 166.251 939.109 165.975C941.124 160.914 944.916 156.96 949.972 154.865C950.959 136.678 951.236 103.39 951.552 85.2033C951.749 72.0376 951.907 58.9113 951.947 45.7456C951.947 37.9173 951.986 30.0494 951.828 22.2211C946.338 19.414 942.625 14.3928 941.163 8.46232C923.428 8.18556 156.349 8.2251 138.613 8.2251C127.553 8.2251 116.493 8.2251 105.433 8.2251C94.373 8.2251 83.3129 8.2251 72.2529 8.2251C54.5173 8.2251 36.7422 8.18556 19.0067 8.46232Z' fill='url(%23paint2_linear_79_6337)'/%3e%3cpath style='mix-blend-mode:screen' opacity='0.5' fill-rule='evenodd' clip-rule='evenodd' d='M19.0167 8.46232C17.5538 14.3928 13.8374 19.414 8.34175 22.2211C8.1836 30.0494 8.1836 37.9173 8.22314 45.7456C8.22314 51.597 8.26267 57.4485 8.34175 63.2999C8.53943 86.3895 952.468 86.3895 952.705 63.2999C952.744 57.4485 952.784 51.597 952.823 45.7456C952.823 37.9173 952.863 30.0494 952.705 22.2211C947.209 19.414 943.493 14.3928 942.03 8.46232C924.278 8.18556 156.486 8.2251 138.734 8.2251C127.664 8.2251 116.594 8.2251 105.523 8.2251C94.453 8.2251 83.3827 8.2251 72.3124 8.2251C54.5603 8.2251 36.7687 8.18556 19.0167 8.46232Z' fill='url(%23paint3_linear_79_6337)'/%3e%3cpath d='M943.627 151.254H18.1234C16.3838 151.254 15 149.831 15 148.13V29.3734C15 27.6338 16.4233 26.25 18.1234 26.25H943.627C945.367 26.25 946.751 27.6733 946.751 29.3734V148.091C946.751 149.831 945.328 151.214 943.627 151.214V151.254Z' fill='url(%23paint4_radial_79_6337)'/%3e%3cpath d='M943.627 152.504H18.1234C16.3838 152.504 15 151.081 15 149.38V29.3734C15 27.6338 16.4233 26.25 18.1234 26.25H943.627C945.367 26.25 946.751 27.6733 946.751 29.3734V149.341C946.751 151.081 945.328 152.464 943.627 152.464V152.504ZM18.1234 28.0292C17.3722 28.0292 16.7792 28.6222 16.7792 29.3734V149.341C16.7792 150.092 17.3722 150.685 18.1234 150.685H943.627C944.379 150.685 944.972 150.092 944.972 149.341V29.3734C944.972 28.6222 944.379 28.0292 943.627 28.0292H18.1234Z' fill='url(%23paint5_linear_79_6337)'/%3e%3cdefs%3e%3clinearGradient id='paint0_linear_79_6337' x1='105.408' y1='174.982' x2='105.408' y2='0.00154359' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23266EE0'/%3e%3cstop offset='0.4' stop-color='%233A9EED'/%3e%3cstop offset='1' stop-color='%23AEDDFF'/%3e%3c/linearGradient%3e%3clinearGradient id='paint1_linear_79_6337' x1='105.523' y1='140.595' x2='105.523' y2='7.55323' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23266EE0'/%3e%3cstop offset='0.4' stop-color='%233A9EED'/%3e%3cstop offset='1' stop-color='%23AEDDFF'/%3e%3c/linearGradient%3e%3clinearGradient id='paint2_linear_79_6337' x1='105.433' y1='139.962' x2='105.433' y2='8.22509' gradientUnits='userSpaceOnUse'%3e%3cstop offset='0.02' stop-color='%23131932'/%3e%3cstop offset='1' stop-color='%230F4B94'/%3e%3c/linearGradient%3e%3clinearGradient id='paint3_linear_79_6337' x1='105.523' y1='80.6566' x2='105.523' y2='8.2251' gradientUnits='userSpaceOnUse'%3e%3cstop offset='0.02' stop-color='%23150000'/%3e%3cstop offset='0.98' stop-color='%230D64C5'/%3e%3c/linearGradient%3e%3cradialGradient id='paint4_radial_79_6337' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(104.946 183.713) scale(147.354 181.917)'%3e%3cstop stop-color='%230087F0'/%3e%3cstop offset='1' stop-color='%230058C2'/%3e%3c/radialGradient%3e%3clinearGradient id='paint5_linear_79_6337' x1='105.895' y1='152.504' x2='105.895' y2='26.25' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%233BB0FF'/%3e%3cstop offset='1' stop-color='%23A8DCFF'/%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  border-image-slice: 27 14 24 16 fill;
  -webkit-border-image-slice: 27 14 24 16 fill;
}

.title {
  height: 3.25rem;
  width: var(--title-width);
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.875rem;
  letter-spacing: -0.025rem;
  top: -1.625rem;
  background: url(../public/images/title.svg) center center / contain no-repeat;
  padding: 1rem;
}

.title,
.btnChooseChar,
.absBtn,
.rowFlexBtns,
.startSceneClose {
  transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}

.text,
.btnChooseChar,
.rotateText {
  font-size: 1rem;
}

.text {
  font-weight: 600;
  line-height: 1.22;
  letter-spacing: -0.0275rem;
}

.btnsContainer,
.btnsWrapper,
.rowFlexBtns {
  z-index: 10;
}

.btnsContainer {
  gap: 0.75rem;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.btnsWrapper {
  margin: 6rem max(calc(100dvw / 2 - 680px), 2rem) 2rem 0;
  max-height: 100%;
  max-width: min(580px, 50dvw);
  overflow-y: hidden;
}

.arrow {
  height: 1rem;
  z-index: 11;
  pointer-events: none;
}

.arrow.arrowUp {
  background: linear-gradient(180deg, red, transparent);
}

.arrow.arrowDown {
  background: linear-gradient(0deg, red, transparent);
}

.btn,
.startQuest,
.startSceneClose {
  padding: 2.5px;
  background: var(--linear-btn);
  min-height: var(--btn-height);
  height: var(--btn-height);
  min-width: 10rem;
  overflow: hidden;
  border: none;
}

.btn,
.startQuest,
.btnChooseChar,
.chooseCharInner,
.btnInner,
.startInner,
.startSceneClose,
.startSceneCloseInner {
  border-radius: 99px;
  -moz-border-radius: 99px;
  -webkit-border-radius: 99px;
}

.btn .btnInner,
.startInner,
.btnChooseChar,
.startSceneCloseInner {
  text-shadow: 0px 1px 1px rgba(1, 0, 52, 0.24);
}

.btnChooseChar {
  background: var(--linear-btn);
  font-weight: 600;
  line-height: 1.375rem;
  letter-spacing: -0.02rem;
  bottom: -2rem;
  white-space: nowrap;
  padding: 2.5px;
  height: var(--btn-height);
}

.char:hover {
  transform: scale(1.01);
  -moz-transform: scale(1.01);
  -webkit-transform: scale(1.01);
}

.btnInner,
.startInner,
.chooseCharInner,
.startSceneCloseInner {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: -0.025rem;
  gap: 0.5rem;
  padding: 0 1.25rem;
  background-image: url(../public/images/blink.svg), var(--linear-btn-inner);
  background-repeat: no-repeat, no-repeat;
  background-position: top 2px left 10px, top left;
  background-size: max(70px, min(20dvh, 90px)), cover;
  background-blend-mode: screen;
  -webkit-background-blend-mode: screen;
}

.absBtn,
.rowFlexBtns {
  bottom: var(--btns-bottom);
}

.startSceneClose {
  bottom: calc(var(--btns-bottom) - 1.5rem);
}

.absBtn {
  position: absolute !important;
  z-index: 10 !important;
}

.rowFlexBtns {
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  padding: 0;
  margin: 0;
  height: unset;
}

.rowFlexBtns .btn {
  min-width: var(--rowFlex-btns-width);
}

.btnInner:before {
  content: '';
  background: url(../public/images/icon.svg) no-repeat;
  min-width: 2rem;
  background-position: center;
  background-size: contain;
}

.actionImage {
  top: 1.25rem;
  height: calc(100% - calc(var(--text-container-height) + var(--actions-mb)));
}

.actionImage img {
  max-width: 1160px;
  object-fit: contain;
}

.rotateScreen {
  z-index: 100000;
  background: var(--color-white);
}

.rotateImg {
  height: 50px;
  width: 100px;
  border: 3px solid var(--color-black);
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  animation: rotate 1.5s ease-in-out infinite alternate;
}

@media screen and (orientation: portrait) {
  .rotateScreen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    gap: 40px;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }

  75% {
    transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
  }

  100% {
    transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
  }
}

.startSceneTitle {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: -0.4px;
  margin-bottom: 1rem;
}

.startSceneInner,
.helpPopup {
  max-width: 960px;
  margin: 0 1.25rem;
}

.helpPopup {
  cursor: default;
  z-index: 10000;
}

.startSceneInner,
.helpPopup {
  max-height: 50dvh;
}

.startSceneContent,
.helpPopContent {
  padding: 2rem 3rem;
}

.helpPopContent,
.startSceneContent {
  text-align: center;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.3;
  overflow: hidden auto;
}

.helpPopupOverlay {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

.closeHelp {
  right: -2.25rem;
  top: -2.25rem;
}

.progressBar {
  width: 50%;
  height: 1rem;
  border: 1px solid var(--border-color);
  background: #0058C2;
}

.preloader {
  background: var(--color-white);
  z-index: 1002;
}

.progress {
  width: 0px;
  animation: progress 3s forwards ease-in-out;
  background: var(--linear-btn);
}

.progressText {
  font-size: 0.875rem;
  margin-top: 0.75rem;
}

.progressText span {
  animation: textChange 3.3s 0s linear infinite;
  white-space: nowrap;
}

.progressText span:nth-child(2) {
  animation-delay: 1.65s;
}

@keyframes textChange {
  0% {
    opacity: 1;
  }

  49% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes progress {
  100% {
    width: 100%;
  }
}

@media screen and (max-width: 960px) {

  .text,
  .title,
  .btnInner,
  .chooseCharInner,
  .startSceneCloseInner {
    font-size: min(max(3.5dvh, 0.75rem), 1rem);
  }

  .questControls {
    right: 1.5rem;
    top: 1.5rem;
  }

  .btnsWrapper {
    margin: 5.5rem max(calc(100dvw / 2 - 680px), 2rem) 1.75rem 0;
  }
}