:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --dark-background: rgba(0, 0, 0, 0.60);
  --light-background: rgba(255, 255, 255, 0.24);
  --light-yellow: #FFC900;
  --linear-btn: linear-gradient(0deg, #266EE0 0.01%, #3A9EED 40.01%, #AEDDFF 100%);
  --linear-btn-inner: linear-gradient(0deg, #3B86E9 2%, #5EBCF6 39.93%, #A9E3FF 100%);
  --action-gradient: radial-gradient(506.87% 50% at 50% 100%, #0087F0 0%, #0058C2 100%);
  --border-color: #3BB0FF;
  --btn-height: max(2.875rem, min(12dvh, 3.25rem));
  --text-container-height: max(7.5rem, min(30dvh, 10.5rem));
  --actions-mb: max(1.75rem, min(7dvh, 4rem));
  --btns-bottom: calc(0px - var(--btn-height) / 2 + 12px);
  --title-width: max(130px, min(40dvh, 170px));
  --char-height: max(calc(100dvw / 3), 80dvh);
  --rowFlex-btns-width: max(3rem, min(12dvw, 7.5rem));
}

.helpPopupOverlay,
.characters,
.scene,
.questWindow,
.arrow {
  opacity: 0;
  animation: opacity 0.3s forwards ease;
}

@keyframes opacity {
  to {
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 0.75rem;
}

.questWindow img,
.hidden,
.text {
  pointer-events: none;
}

.container,
.questWindow,
.rotateScreen {
  height: 100dvh;
}

.questWindow,
.rotateScreen {
  width: 100dvw;
}

.questBackground,
.questBackground img,
.charInner img,
.charInner,
.overlay,
.chooseCharInner,
.btnInner,
.startInner,
.actionImage img,
.bus img,
.helpPopupOverlay,
.btnInner:before,
.preloader,
.progress,
.textInner,
.btnsContainer,
.scene,
.startSceneContainer,
.startSceneCloseInner {
  height: 100%;
}

.questBackground,
.questBackground img,
.overlay,
.actions,
.textContainer,
.textInner,
.chooseCharInner,
.btnInner,
.startInner,
.rowFlexBtns .btnInner,
.absBtn .btnInner,
.actionImage,
.helpPopup,
.helpPopupOverlay,
.btnsWrapper,
.preloader,
.btn,
.startQuest,
.arrow,
.actionImage img,
.startSceneContainer,
.startSceneCloseInner {
  width: 100%;
}

.container,
.startInner,
.charInner,
.textContainer,
.actionImage,
.closeInner,
.helpInner,
.closeHelpInner,
.title,
.helpPopupOverlay,
.rowFlexBtns .btnInner,
.absBtn .btnInner,
.progressText,
.rowFlexBtns,
.preloader,
.startSceneContainer,
.startSceneCloseInner {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.container,
.questControls,
.btnInner,
.startInner,
.actionImage,
.closeInner,
.helpInner,
.closeHelpInner,
.title,
.chooseCharInner,
.helpPopupOverlay,
.preloader,
.startSceneContainer,
.startSceneCloseInner {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.container,
.actions,
.textInner,
.btnsContainer,
.preloader,
.startSceneText {
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.actions,
.btnsContainer {
  -ms-align-items: flex-end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}

.container,
.questControls,
.closeInner,
.helpInner,
.closeHelpInner,
.characters,
.charInner,
.actions,
.textInner,
.btnsContainer,
.btnInner,
.startInner,
.title,
.chooseCharInner,
.progressText,
.dots,
.preloader,
.helpPopupOverlay,
.actionImage,
.scene,
.startSceneContainer,
.helpPopup,
.startSceneInner,
.startSceneCloseInner,
.startSceneText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.absBtn .btnInner:before,
.rowFlexBtns .btnInner:before,
.rotateScreen,
.btnsContainer::-webkit-scrollbar {
  display: none;
}

.btnsContainer .overlay,
.hidden,
.text span,
.progressText span {
  opacity: 0;
}

.title,
.characters,
.btnChooseChar,
.absBtn,
.rowFlexBtns,
.startSceneClose {
  left: 50%;
}

.characters {
  top: 50%;
}

.questWindow,
.rotateScreen,
.helpPopupOverlay,
.overlay,
.startSceneContainer {
  top: 0;
}

.questWindow,
.rotateScreen,
.helpPopupOverlay,
.overlay,
.startSceneContainer {
  left: 0;
}

.textContainer,
.char,
.btn,
.startQuest,
.chooseCharInner,
.actions,
.btnsWrapper,
.progressText,
.progress,
.helpPopup,
.startSceneContainer,
.startSceneInner {
  position: relative;
}

.questBackground,
.questControls,
.characters,
.overlay,
.currentChar img,
.title,
.btnChooseChar,
.btn:after,
.chooseCharInner:after,
.startQuest:after,
.actionImage,
.rowFlexBtns,
.closeHelp,
.helpPopupOverlay,
.rotateScreen,
.questWindow,
.preloader,
.progressText span,
.arrow,
.startSceneClose {
  position: absolute;
}

.questBackground,
.actionImage {
  z-index: -1;
}

.questWindow {
  z-index: 99000;
  overflow: hidden;
  user-select: none;
  background: url('../public/images/back.png') no-repeat center center / cover;
}

.questBackground img {
  object-fit: cover;
  object-position: center;
  transition: 0.3s filter ease;
}

.startQuest,
.absBtn,
.rowFlexBtns .btn {
  width: unset !important;
}

.rowFlexBtns .btnInner,
.absBtn .btnInner,
.startInner,
.textInner,
.btnChooseChar,
.rotateText {
  text-align: center;
}

.closeQuest,
.helpQuest,
.closeHelp {
  padding: 0.375rem;
  background: var(--linear-btn);
  z-index: 1000;
}

.popupOverlay,
.closeQuest,
.helpQuest,
.closeHelp,
.char,
.btn,
.startQuest,
.helpPopupOverlay,
.startSceneClose,
.arrow {
  cursor: pointer;
}

.questControls {
  right: 2rem;
  top: 2rem;
  gap: 1.75rem;
}

.closeInner,
.helpInner,
.closeHelpInner,
.closeQuest,
.helpQuest,
.closeHelp {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

.closeInner,
.helpInner,
.closeHelpInner {
  padding: 0.375rem;
  border: 2px solid var(--border-color);
  background: var(--action-gradient);
  width: 2rem;
  height: 2rem;
}

.btnInner,
.startInner,
.title,
.text,
.btnChooseChar,
.helpPopup,
.startSceneContent,
.startSceneCloseInner {
  color: var(--color-white);
}

.closeInner img,
.closeHelpInner img {
  height: 0.75rem;
  width: 0.75rem;
}

.helpInner img {
  height: 1rem;
  width: 1rem;
}

.characters {
  gap: 2.25rem;
  height: 76%;
  width: 100%;
  max-width: 960px;
  padding: 0 20px;
}

.characters {
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.char {
  min-width: calc(50% - 2.25rem / 2);
  transition: 0.3s all ease;
  border-style: solid;
  border-width: 26px 16px 20px;
  border-image-source: url("data:image/svg+xml;charset=UTF-8,%3csvg width='527' height='825' viewBox='0 0 527 825' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M283.128 824.945C253.429 824.945 46.0301 825.142 16.8457 824.788C15.5407 824.788 14.4334 823.882 14.2357 822.582C13.3657 817.344 9.88573 813.365 4.38894 812.341C3.16304 812.105 2.29304 811.12 2.21395 809.899C0.355328 779.019 -0.435576 39.153 0.236693 18.238C0.236693 17.0563 1.0276 16.111 2.17441 15.7959C8.06665 14.181 11.3489 9.06055 11.5071 2.91602C11.5071 1.49805 12.733 0.355794 14.1566 0.316406C32.2683 -0.0380863 252.678 0.00130211 283.128 0.00130211C313.578 0.00130211 494.732 0.0013018 512.843 0.316406C514.267 0.316406 515.453 1.45866 515.493 2.91602C515.612 9.06055 518.933 14.181 524.826 15.7959C525.972 16.111 526.724 17.0957 526.763 18.238C527.436 39.153 526.645 779.019 524.786 809.899C524.707 811.12 523.837 812.105 522.611 812.341C517.114 813.365 513.634 817.344 512.764 822.582C512.567 823.882 511.459 824.788 510.154 824.788C480.97 825.142 312.826 824.945 283.128 824.945Z' fill='url(%23paint0_linear_104_17493)'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M508.198 817.437C510.136 812.218 514.05 808.185 519.229 806.129C520.218 787.863 520.534 103.509 520.811 85.2431C521.008 72.0774 521.167 58.9511 521.206 45.7854C521.206 37.8385 521.246 29.8125 521.088 21.826C515.434 19.0585 511.678 13.9187 510.294 7.82999C492.384 7.55324 486.645 7.59277 468.695 7.59277C457.624 7.59277 282.554 7.59277 271.484 7.59277C260.414 7.59277 83.3432 7.59277 72.2729 7.59277C54.3627 7.59277 36.3734 7.55324 18.4237 7.82999C17.0794 13.9582 13.3234 19.098 7.63014 21.826C7.43246 29.8125 7.47199 37.8385 7.51153 45.7854C7.51153 58.9511 7.66968 72.0774 7.9069 85.2431C8.22319 103.509 8.49995 787.863 9.48837 806.129C14.7072 808.185 18.5818 812.218 20.5192 817.437C48.8275 817.753 247.136 817.555 275.444 817.555C303.753 817.555 479.811 817.753 508.119 817.437H508.198Z' fill='url(%23paint1_linear_104_17493)'/%3e%3cpath style='mix-blend-mode:screen' fill-rule='evenodd' clip-rule='evenodd' d='M19.0067 8.46232C17.5452 14.3928 13.8321 19.414 8.34162 22.2211C8.18362 30.0494 8.18362 37.9173 8.22312 45.7456C8.22312 58.9113 8.38112 72.0376 8.61812 85.2033C8.93412 103.39 9.01237 787.228 9.99988 805.375C15.0559 807.471 19.0462 811.914 21.0607 816.975C49.1848 817.291 77.3089 817.093 105.433 817.093C133.557 817.093 479.985 817.251 508.109 816.975C510.124 811.914 513.916 807.96 518.972 805.865C519.959 787.678 520.236 103.39 520.552 85.2033C520.749 72.0376 520.907 58.9113 520.947 45.7456C520.947 37.9173 520.986 30.0494 520.828 22.2211C515.338 19.414 511.625 14.3928 510.163 8.46232C492.428 8.18556 156.349 8.2251 138.613 8.2251C127.553 8.2251 116.493 8.2251 105.433 8.2251C94.373 8.2251 83.3129 8.2251 72.2529 8.2251C54.5173 8.2251 36.7422 8.18556 19.0067 8.46232Z' fill='url(%23paint2_linear_104_17493)'/%3e%3cpath style='mix-blend-mode:screen' opacity='0.5' fill-rule='evenodd' clip-rule='evenodd' d='M19.0167 8.46232C17.5538 14.3928 13.8374 19.414 8.34175 22.2211C8.1836 30.0494 8.1836 367.917 8.22314 375.746C8.22314 381.597 8.26267 387.448 8.34175 393.3C8.53943 416.389 519.468 416.389 519.705 393.3C519.745 387.448 519.784 381.597 519.824 375.746C519.824 367.917 519.863 30.0494 519.705 22.2211C514.209 19.414 510.493 14.3928 509.03 8.46232C491.278 8.18556 156.486 8.2251 138.734 8.2251C127.664 8.2251 116.594 8.2251 105.523 8.2251C94.453 8.2251 83.3827 8.2251 72.3124 8.2251C54.5603 8.2251 36.7687 8.18556 19.0167 8.46232Z' fill='url(%23paint3_linear_104_17493)'/%3e%3cpath d='M509.627 804.254H18.1234C16.3838 804.254 15 802.831 15 801.13V29.3734C15 27.6338 16.4233 26.25 18.1234 26.25H509.627C511.367 26.25 512.751 27.6733 512.751 29.3734V801.091C512.751 802.831 511.327 804.214 509.627 804.214V804.254Z' fill='url(%23paint4_radial_104_17493)'/%3e%3cpath d='M510.627 804.504H18.1234C16.3838 804.504 15 803.081 15 801.38V29.3734C15 27.6338 16.4233 26.25 18.1234 26.25H510.627C512.367 26.25 513.751 27.6733 513.751 29.3734V801.341C513.751 803.081 512.327 804.464 510.627 804.464V804.504ZM18.1234 28.0292C17.3722 28.0292 16.7792 28.6222 16.7792 29.3734V801.341C16.7792 802.092 17.3722 802.685 18.1234 802.685H510.627C511.379 802.685 511.972 802.092 511.972 801.341V29.3734C511.972 28.6222 511.379 28.0292 510.627 28.0292H18.1234Z' fill='url(%23paint5_linear_104_17493)'/%3e%3cdefs%3e%3clinearGradient id='paint0_linear_104_17493' x1='57.8649' y1='824.915' x2='57.8649' y2='0.00727692' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23266EE0'/%3e%3cstop offset='0.4' stop-color='%233A9EED'/%3e%3cstop offset='1' stop-color='%23AEDDFF'/%3e%3c/linearGradient%3e%3clinearGradient id='paint1_linear_104_17493' x1='105.523' y1='682.5' x2='105.523' y2='7.55325' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23266EE0'/%3e%3cstop offset='0.4' stop-color='%233A9EED'/%3e%3cstop offset='1' stop-color='%23AEDDFF'/%3e%3c/linearGradient%3e%3clinearGradient id='paint2_linear_104_17493' x1='105.433' y1='638' x2='105.433' y2='8.2251' gradientUnits='userSpaceOnUse'%3e%3cstop offset='0.02' stop-color='%23131932'/%3e%3cstop offset='1' stop-color='%230F4B94'/%3e%3c/linearGradient%3e%3clinearGradient id='paint3_linear_104_17493' x1='105.523' y1='80.6566' x2='105.523' y2='8.2251' gradientUnits='userSpaceOnUse'%3e%3cstop offset='0.02' stop-color='%23150000'/%3e%3cstop offset='0.98' stop-color='%230D64C5'/%3e%3c/linearGradient%3e%3cradialGradient id='paint4_radial_104_17493' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(64 744) rotate(-68.9968) scale(719.825 888.666)'%3e%3cstop stop-color='%230087F0'/%3e%3cstop offset='1' stop-color='%230058C2'/%3e%3c/radialGradient%3e%3clinearGradient id='paint5_linear_104_17493' x1='63.6547' y1='804.504' x2='63.6547' y2='26.25' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%233BB0FF'/%3e%3cstop offset='1' stop-color='%23A8DCFF'/%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  -webkit-border-image-source: url("data:image/svg+xml;charset=UTF-8,%3csvg width='527' height='825' viewBox='0 0 527 825' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M283.128 824.945C253.429 824.945 46.0301 825.142 16.8457 824.788C15.5407 824.788 14.4334 823.882 14.2357 822.582C13.3657 817.344 9.88573 813.365 4.38894 812.341C3.16304 812.105 2.29304 811.12 2.21395 809.899C0.355328 779.019 -0.435576 39.153 0.236693 18.238C0.236693 17.0563 1.0276 16.111 2.17441 15.7959C8.06665 14.181 11.3489 9.06055 11.5071 2.91602C11.5071 1.49805 12.733 0.355794 14.1566 0.316406C32.2683 -0.0380863 252.678 0.00130211 283.128 0.00130211C313.578 0.00130211 494.732 0.0013018 512.843 0.316406C514.267 0.316406 515.453 1.45866 515.493 2.91602C515.612 9.06055 518.933 14.181 524.826 15.7959C525.972 16.111 526.724 17.0957 526.763 18.238C527.436 39.153 526.645 779.019 524.786 809.899C524.707 811.12 523.837 812.105 522.611 812.341C517.114 813.365 513.634 817.344 512.764 822.582C512.567 823.882 511.459 824.788 510.154 824.788C480.97 825.142 312.826 824.945 283.128 824.945Z' fill='url(%23paint0_linear_104_17493)'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M508.198 817.437C510.136 812.218 514.05 808.185 519.229 806.129C520.218 787.863 520.534 103.509 520.811 85.2431C521.008 72.0774 521.167 58.9511 521.206 45.7854C521.206 37.8385 521.246 29.8125 521.088 21.826C515.434 19.0585 511.678 13.9187 510.294 7.82999C492.384 7.55324 486.645 7.59277 468.695 7.59277C457.624 7.59277 282.554 7.59277 271.484 7.59277C260.414 7.59277 83.3432 7.59277 72.2729 7.59277C54.3627 7.59277 36.3734 7.55324 18.4237 7.82999C17.0794 13.9582 13.3234 19.098 7.63014 21.826C7.43246 29.8125 7.47199 37.8385 7.51153 45.7854C7.51153 58.9511 7.66968 72.0774 7.9069 85.2431C8.22319 103.509 8.49995 787.863 9.48837 806.129C14.7072 808.185 18.5818 812.218 20.5192 817.437C48.8275 817.753 247.136 817.555 275.444 817.555C303.753 817.555 479.811 817.753 508.119 817.437H508.198Z' fill='url(%23paint1_linear_104_17493)'/%3e%3cpath style='mix-blend-mode:screen' fill-rule='evenodd' clip-rule='evenodd' d='M19.0067 8.46232C17.5452 14.3928 13.8321 19.414 8.34162 22.2211C8.18362 30.0494 8.18362 37.9173 8.22312 45.7456C8.22312 58.9113 8.38112 72.0376 8.61812 85.2033C8.93412 103.39 9.01237 787.228 9.99988 805.375C15.0559 807.471 19.0462 811.914 21.0607 816.975C49.1848 817.291 77.3089 817.093 105.433 817.093C133.557 817.093 479.985 817.251 508.109 816.975C510.124 811.914 513.916 807.96 518.972 805.865C519.959 787.678 520.236 103.39 520.552 85.2033C520.749 72.0376 520.907 58.9113 520.947 45.7456C520.947 37.9173 520.986 30.0494 520.828 22.2211C515.338 19.414 511.625 14.3928 510.163 8.46232C492.428 8.18556 156.349 8.2251 138.613 8.2251C127.553 8.2251 116.493 8.2251 105.433 8.2251C94.373 8.2251 83.3129 8.2251 72.2529 8.2251C54.5173 8.2251 36.7422 8.18556 19.0067 8.46232Z' fill='url(%23paint2_linear_104_17493)'/%3e%3cpath style='mix-blend-mode:screen' opacity='0.5' fill-rule='evenodd' clip-rule='evenodd' d='M19.0167 8.46232C17.5538 14.3928 13.8374 19.414 8.34175 22.2211C8.1836 30.0494 8.1836 367.917 8.22314 375.746C8.22314 381.597 8.26267 387.448 8.34175 393.3C8.53943 416.389 519.468 416.389 519.705 393.3C519.745 387.448 519.784 381.597 519.824 375.746C519.824 367.917 519.863 30.0494 519.705 22.2211C514.209 19.414 510.493 14.3928 509.03 8.46232C491.278 8.18556 156.486 8.2251 138.734 8.2251C127.664 8.2251 116.594 8.2251 105.523 8.2251C94.453 8.2251 83.3827 8.2251 72.3124 8.2251C54.5603 8.2251 36.7687 8.18556 19.0167 8.46232Z' fill='url(%23paint3_linear_104_17493)'/%3e%3cpath d='M509.627 804.254H18.1234C16.3838 804.254 15 802.831 15 801.13V29.3734C15 27.6338 16.4233 26.25 18.1234 26.25H509.627C511.367 26.25 512.751 27.6733 512.751 29.3734V801.091C512.751 802.831 511.327 804.214 509.627 804.214V804.254Z' fill='url(%23paint4_radial_104_17493)'/%3e%3cpath d='M510.627 804.504H18.1234C16.3838 804.504 15 803.081 15 801.38V29.3734C15 27.6338 16.4233 26.25 18.1234 26.25H510.627C512.367 26.25 513.751 27.6733 513.751 29.3734V801.341C513.751 803.081 512.327 804.464 510.627 804.464V804.504ZM18.1234 28.0292C17.3722 28.0292 16.7792 28.6222 16.7792 29.3734V801.341C16.7792 802.092 17.3722 802.685 18.1234 802.685H510.627C511.379 802.685 511.972 802.092 511.972 801.341V29.3734C511.972 28.6222 511.379 28.0292 510.627 28.0292H18.1234Z' fill='url(%23paint5_linear_104_17493)'/%3e%3cdefs%3e%3clinearGradient id='paint0_linear_104_17493' x1='57.8649' y1='824.915' x2='57.8649' y2='0.00727692' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23266EE0'/%3e%3cstop offset='0.4' stop-color='%233A9EED'/%3e%3cstop offset='1' stop-color='%23AEDDFF'/%3e%3c/linearGradient%3e%3clinearGradient id='paint1_linear_104_17493' x1='105.523' y1='682.5' x2='105.523' y2='7.55325' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23266EE0'/%3e%3cstop offset='0.4' stop-color='%233A9EED'/%3e%3cstop offset='1' stop-color='%23AEDDFF'/%3e%3c/linearGradient%3e%3clinearGradient id='paint2_linear_104_17493' x1='105.433' y1='638' x2='105.433' y2='8.2251' gradientUnits='userSpaceOnUse'%3e%3cstop offset='0.02' stop-color='%23131932'/%3e%3cstop offset='1' stop-color='%230F4B94'/%3e%3c/linearGradient%3e%3clinearGradient id='paint3_linear_104_17493' x1='105.523' y1='80.6566' x2='105.523' y2='8.2251' gradientUnits='userSpaceOnUse'%3e%3cstop offset='0.02' stop-color='%23150000'/%3e%3cstop offset='0.98' stop-color='%230D64C5'/%3e%3c/linearGradient%3e%3cradialGradient id='paint4_radial_104_17493' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(64 744) rotate(-68.9968) scale(719.825 888.666)'%3e%3cstop stop-color='%230087F0'/%3e%3cstop offset='1' stop-color='%230058C2'/%3e%3c/radialGradient%3e%3clinearGradient id='paint5_linear_104_17493' x1='63.6547' y1='804.504' x2='63.6547' y2='26.25' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%233BB0FF'/%3e%3cstop offset='1' stop-color='%23A8DCFF'/%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  border-image-slice: 26 13 20 15 fill;
  -webkit-border-image-slice: 26 13 20 15 fill;
}

.charInner {
  border-radius: 1rem;
  -moz-border-radius: 1rem;
  -webkit-border-radius: 1rem;
  padding: 6dvh;
}

.overlay,
.helpPopup,
.helpPopupOverlay,
.arrow,
.btnsContainer,
.btn,
.characters,
.currentChar,
.title,
.questWindow,
.preloader {
  transition: 0.3s opacity ease;
}

.helpPopupOverlay,
.overlay,
.questControls {
  z-index: 1003;
}


.overlay {
  background: var(--color-black);
}

.currentChar img {
  bottom: calc(0px - var(--char-height) + 80dvh);
  left: 10%;
  height: var(--char-height);
}

.actions {
  bottom: 0;
}

.actions {
  margin-bottom: var(--actions-mb);
  justify-content: flex-end;
  -ms-flex-pack: end;
  -webkit-box-pack: end;
  max-height: 100%;
}

.textContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex !important;
  min-height: var(--text-container-height);
}

.textInner {
  max-width: 960px;
  margin: 0 2rem;
  padding: min(4dvh, 2rem) min(4dvh, 2rem) min(5dvh, 3rem);
}

.textInner,
.helpPopup,
.startSceneInner {
  border-width: 1.5rem 1rem;
  border-style: solid;
  border-color: transparent;
  border-image-source: url("data:image/svg+xml;charset=UTF-8,%3csvg width='960' height='175' viewBox='0 0 960 175' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M493.128 174.945C463.429 174.945 46.0301 175.142 16.8457 174.788C15.5407 174.788 14.4334 173.882 14.2357 172.582C13.3657 167.344 9.88573 163.365 4.38894 162.341C3.16304 162.105 2.29304 161.12 2.21395 159.899C0.355328 129.019 -0.435576 39.153 0.236693 18.238C0.236693 17.0563 1.0276 16.111 2.17441 15.7959C8.06665 14.181 11.3489 9.06055 11.5071 2.91602C11.5071 1.49805 12.733 0.355794 14.1566 0.316406C32.2683 -0.0380863 462.678 0.00130211 493.128 0.00130211C523.578 0.00130211 927.732 0.0013018 945.843 0.316406C947.267 0.316406 948.453 1.45866 948.493 2.91602C948.612 9.06055 951.933 14.181 957.826 15.7959C958.972 16.111 959.724 17.0957 959.763 18.238C960.436 39.153 959.645 129.019 957.786 159.899C957.707 161.12 956.837 162.105 955.611 162.341C950.114 163.365 946.634 167.344 945.764 172.582C945.567 173.882 944.459 174.788 943.154 174.788C913.97 175.142 522.826 174.945 493.128 174.945Z' fill='url(%23paint0_linear_79_6337)'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M939.199 165.437C941.136 160.218 945.05 156.185 950.229 154.129C951.218 135.863 951.534 103.509 951.811 85.2432C952.009 72.0774 952.167 58.9511 952.206 45.7854C952.206 37.8385 952.246 29.8125 952.088 21.826C946.434 19.0585 942.678 13.9187 941.294 7.82999C923.384 7.55324 156.645 7.59277 138.695 7.59277C127.624 7.59277 116.554 7.59277 105.484 7.59277C94.4135 7.59277 83.3432 7.59277 72.2729 7.59277C54.3627 7.59277 36.3734 7.55324 18.4237 7.82999C17.0794 13.9582 13.3234 19.098 7.63014 21.826C7.43246 29.8125 7.47199 37.8385 7.51153 45.7854C7.51153 58.9511 7.66968 72.0774 7.9069 85.2432C8.22319 103.509 8.49995 135.863 9.48837 154.129C14.7072 156.185 18.5818 160.218 20.5192 165.437C48.8275 165.753 77.1359 165.555 105.444 165.555C133.753 165.555 910.811 165.753 939.119 165.437H939.199Z' fill='url(%23paint1_linear_79_6337)'/%3e%3cpath style='mix-blend-mode:screen' fill-rule='evenodd' clip-rule='evenodd' d='M19.0067 8.46232C17.5452 14.3928 13.8321 19.414 8.34162 22.2211C8.18362 30.0494 8.18362 37.9173 8.22312 45.7456C8.22312 58.9113 8.38112 72.0376 8.61812 85.2033C8.93412 103.39 9.01237 136.228 9.99988 154.375C15.0559 156.471 19.0462 160.914 21.0607 165.975C49.1848 166.291 77.3089 166.093 105.433 166.093C133.557 166.093 910.985 166.251 939.109 165.975C941.124 160.914 944.916 156.96 949.972 154.865C950.959 136.678 951.236 103.39 951.552 85.2033C951.749 72.0376 951.907 58.9113 951.947 45.7456C951.947 37.9173 951.986 30.0494 951.828 22.2211C946.338 19.414 942.625 14.3928 941.163 8.46232C923.428 8.18556 156.349 8.2251 138.613 8.2251C127.553 8.2251 116.493 8.2251 105.433 8.2251C94.373 8.2251 83.3129 8.2251 72.2529 8.2251C54.5173 8.2251 36.7422 8.18556 19.0067 8.46232Z' fill='url(%23paint2_linear_79_6337)'/%3e%3cpath style='mix-blend-mode:screen' opacity='0.5' fill-rule='evenodd' clip-rule='evenodd' d='M19.0167 8.46232C17.5538 14.3928 13.8374 19.414 8.34175 22.2211C8.1836 30.0494 8.1836 37.9173 8.22314 45.7456C8.22314 51.597 8.26267 57.4485 8.34175 63.2999C8.53943 86.3895 952.468 86.3895 952.705 63.2999C952.744 57.4485 952.784 51.597 952.823 45.7456C952.823 37.9173 952.863 30.0494 952.705 22.2211C947.209 19.414 943.493 14.3928 942.03 8.46232C924.278 8.18556 156.486 8.2251 138.734 8.2251C127.664 8.2251 116.594 8.2251 105.523 8.2251C94.453 8.2251 83.3827 8.2251 72.3124 8.2251C54.5603 8.2251 36.7687 8.18556 19.0167 8.46232Z' fill='url(%23paint3_linear_79_6337)'/%3e%3cpath d='M943.627 151.254H18.1234C16.3838 151.254 15 149.831 15 148.13V29.3734C15 27.6338 16.4233 26.25 18.1234 26.25H943.627C945.367 26.25 946.751 27.6733 946.751 29.3734V148.091C946.751 149.831 945.328 151.214 943.627 151.214V151.254Z' fill='url(%23paint4_radial_79_6337)'/%3e%3cpath d='M943.627 152.504H18.1234C16.3838 152.504 15 151.081 15 149.38V29.3734C15 27.6338 16.4233 26.25 18.1234 26.25H943.627C945.367 26.25 946.751 27.6733 946.751 29.3734V149.341C946.751 151.081 945.328 152.464 943.627 152.464V152.504ZM18.1234 28.0292C17.3722 28.0292 16.7792 28.6222 16.7792 29.3734V149.341C16.7792 150.092 17.3722 150.685 18.1234 150.685H943.627C944.379 150.685 944.972 150.092 944.972 149.341V29.3734C944.972 28.6222 944.379 28.0292 943.627 28.0292H18.1234Z' fill='url(%23paint5_linear_79_6337)'/%3e%3cdefs%3e%3clinearGradient id='paint0_linear_79_6337' x1='105.408' y1='174.982' x2='105.408' y2='0.00154359' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23266EE0'/%3e%3cstop offset='0.4' stop-color='%233A9EED'/%3e%3cstop offset='1' stop-color='%23AEDDFF'/%3e%3c/linearGradient%3e%3clinearGradient id='paint1_linear_79_6337' x1='105.523' y1='140.595' x2='105.523' y2='7.55323' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23266EE0'/%3e%3cstop offset='0.4' stop-color='%233A9EED'/%3e%3cstop offset='1' stop-color='%23AEDDFF'/%3e%3c/linearGradient%3e%3clinearGradient id='paint2_linear_79_6337' x1='105.433' y1='139.962' x2='105.433' y2='8.22509' gradientUnits='userSpaceOnUse'%3e%3cstop offset='0.02' stop-color='%23131932'/%3e%3cstop offset='1' stop-color='%230F4B94'/%3e%3c/linearGradient%3e%3clinearGradient id='paint3_linear_79_6337' x1='105.523' y1='80.6566' x2='105.523' y2='8.2251' gradientUnits='userSpaceOnUse'%3e%3cstop offset='0.02' stop-color='%23150000'/%3e%3cstop offset='0.98' stop-color='%230D64C5'/%3e%3c/linearGradient%3e%3cradialGradient id='paint4_radial_79_6337' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(104.946 183.713) scale(147.354 181.917)'%3e%3cstop stop-color='%230087F0'/%3e%3cstop offset='1' stop-color='%230058C2'/%3e%3c/radialGradient%3e%3clinearGradient id='paint5_linear_79_6337' x1='105.895' y1='152.504' x2='105.895' y2='26.25' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%233BB0FF'/%3e%3cstop offset='1' stop-color='%23A8DCFF'/%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  -webkit-border-image-source: url("data:image/svg+xml;charset=UTF-8,%3csvg width='960' height='175' viewBox='0 0 960 175' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M493.128 174.945C463.429 174.945 46.0301 175.142 16.8457 174.788C15.5407 174.788 14.4334 173.882 14.2357 172.582C13.3657 167.344 9.88573 163.365 4.38894 162.341C3.16304 162.105 2.29304 161.12 2.21395 159.899C0.355328 129.019 -0.435576 39.153 0.236693 18.238C0.236693 17.0563 1.0276 16.111 2.17441 15.7959C8.06665 14.181 11.3489 9.06055 11.5071 2.91602C11.5071 1.49805 12.733 0.355794 14.1566 0.316406C32.2683 -0.0380863 462.678 0.00130211 493.128 0.00130211C523.578 0.00130211 927.732 0.0013018 945.843 0.316406C947.267 0.316406 948.453 1.45866 948.493 2.91602C948.612 9.06055 951.933 14.181 957.826 15.7959C958.972 16.111 959.724 17.0957 959.763 18.238C960.436 39.153 959.645 129.019 957.786 159.899C957.707 161.12 956.837 162.105 955.611 162.341C950.114 163.365 946.634 167.344 945.764 172.582C945.567 173.882 944.459 174.788 943.154 174.788C913.97 175.142 522.826 174.945 493.128 174.945Z' fill='url(%23paint0_linear_79_6337)'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M939.199 165.437C941.136 160.218 945.05 156.185 950.229 154.129C951.218 135.863 951.534 103.509 951.811 85.2432C952.009 72.0774 952.167 58.9511 952.206 45.7854C952.206 37.8385 952.246 29.8125 952.088 21.826C946.434 19.0585 942.678 13.9187 941.294 7.82999C923.384 7.55324 156.645 7.59277 138.695 7.59277C127.624 7.59277 116.554 7.59277 105.484 7.59277C94.4135 7.59277 83.3432 7.59277 72.2729 7.59277C54.3627 7.59277 36.3734 7.55324 18.4237 7.82999C17.0794 13.9582 13.3234 19.098 7.63014 21.826C7.43246 29.8125 7.47199 37.8385 7.51153 45.7854C7.51153 58.9511 7.66968 72.0774 7.9069 85.2432C8.22319 103.509 8.49995 135.863 9.48837 154.129C14.7072 156.185 18.5818 160.218 20.5192 165.437C48.8275 165.753 77.1359 165.555 105.444 165.555C133.753 165.555 910.811 165.753 939.119 165.437H939.199Z' fill='url(%23paint1_linear_79_6337)'/%3e%3cpath style='mix-blend-mode:screen' fill-rule='evenodd' clip-rule='evenodd' d='M19.0067 8.46232C17.5452 14.3928 13.8321 19.414 8.34162 22.2211C8.18362 30.0494 8.18362 37.9173 8.22312 45.7456C8.22312 58.9113 8.38112 72.0376 8.61812 85.2033C8.93412 103.39 9.01237 136.228 9.99988 154.375C15.0559 156.471 19.0462 160.914 21.0607 165.975C49.1848 166.291 77.3089 166.093 105.433 166.093C133.557 166.093 910.985 166.251 939.109 165.975C941.124 160.914 944.916 156.96 949.972 154.865C950.959 136.678 951.236 103.39 951.552 85.2033C951.749 72.0376 951.907 58.9113 951.947 45.7456C951.947 37.9173 951.986 30.0494 951.828 22.2211C946.338 19.414 942.625 14.3928 941.163 8.46232C923.428 8.18556 156.349 8.2251 138.613 8.2251C127.553 8.2251 116.493 8.2251 105.433 8.2251C94.373 8.2251 83.3129 8.2251 72.2529 8.2251C54.5173 8.2251 36.7422 8.18556 19.0067 8.46232Z' fill='url(%23paint2_linear_79_6337)'/%3e%3cpath style='mix-blend-mode:screen' opacity='0.5' fill-rule='evenodd' clip-rule='evenodd' d='M19.0167 8.46232C17.5538 14.3928 13.8374 19.414 8.34175 22.2211C8.1836 30.0494 8.1836 37.9173 8.22314 45.7456C8.22314 51.597 8.26267 57.4485 8.34175 63.2999C8.53943 86.3895 952.468 86.3895 952.705 63.2999C952.744 57.4485 952.784 51.597 952.823 45.7456C952.823 37.9173 952.863 30.0494 952.705 22.2211C947.209 19.414 943.493 14.3928 942.03 8.46232C924.278 8.18556 156.486 8.2251 138.734 8.2251C127.664 8.2251 116.594 8.2251 105.523 8.2251C94.453 8.2251 83.3827 8.2251 72.3124 8.2251C54.5603 8.2251 36.7687 8.18556 19.0167 8.46232Z' fill='url(%23paint3_linear_79_6337)'/%3e%3cpath d='M943.627 151.254H18.1234C16.3838 151.254 15 149.831 15 148.13V29.3734C15 27.6338 16.4233 26.25 18.1234 26.25H943.627C945.367 26.25 946.751 27.6733 946.751 29.3734V148.091C946.751 149.831 945.328 151.214 943.627 151.214V151.254Z' fill='url(%23paint4_radial_79_6337)'/%3e%3cpath d='M943.627 152.504H18.1234C16.3838 152.504 15 151.081 15 149.38V29.3734C15 27.6338 16.4233 26.25 18.1234 26.25H943.627C945.367 26.25 946.751 27.6733 946.751 29.3734V149.341C946.751 151.081 945.328 152.464 943.627 152.464V152.504ZM18.1234 28.0292C17.3722 28.0292 16.7792 28.6222 16.7792 29.3734V149.341C16.7792 150.092 17.3722 150.685 18.1234 150.685H943.627C944.379 150.685 944.972 150.092 944.972 149.341V29.3734C944.972 28.6222 944.379 28.0292 943.627 28.0292H18.1234Z' fill='url(%23paint5_linear_79_6337)'/%3e%3cdefs%3e%3clinearGradient id='paint0_linear_79_6337' x1='105.408' y1='174.982' x2='105.408' y2='0.00154359' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23266EE0'/%3e%3cstop offset='0.4' stop-color='%233A9EED'/%3e%3cstop offset='1' stop-color='%23AEDDFF'/%3e%3c/linearGradient%3e%3clinearGradient id='paint1_linear_79_6337' x1='105.523' y1='140.595' x2='105.523' y2='7.55323' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23266EE0'/%3e%3cstop offset='0.4' stop-color='%233A9EED'/%3e%3cstop offset='1' stop-color='%23AEDDFF'/%3e%3c/linearGradient%3e%3clinearGradient id='paint2_linear_79_6337' x1='105.433' y1='139.962' x2='105.433' y2='8.22509' gradientUnits='userSpaceOnUse'%3e%3cstop offset='0.02' stop-color='%23131932'/%3e%3cstop offset='1' stop-color='%230F4B94'/%3e%3c/linearGradient%3e%3clinearGradient id='paint3_linear_79_6337' x1='105.523' y1='80.6566' x2='105.523' y2='8.2251' gradientUnits='userSpaceOnUse'%3e%3cstop offset='0.02' stop-color='%23150000'/%3e%3cstop offset='0.98' stop-color='%230D64C5'/%3e%3c/linearGradient%3e%3cradialGradient id='paint4_radial_79_6337' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(104.946 183.713) scale(147.354 181.917)'%3e%3cstop stop-color='%230087F0'/%3e%3cstop offset='1' stop-color='%230058C2'/%3e%3c/radialGradient%3e%3clinearGradient id='paint5_linear_79_6337' x1='105.895' y1='152.504' x2='105.895' y2='26.25' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%233BB0FF'/%3e%3cstop offset='1' stop-color='%23A8DCFF'/%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  border-image-slice: 27 14 24 16 fill;
  -webkit-border-image-slice: 27 14 24 16 fill;
}

.title {
  height: 3.25rem;
  width: var(--title-width);
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.875rem;
  letter-spacing: -0.025rem;
  top: -1.625rem;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='170' height='50' viewBox='0 0 170 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg style='mix-blend-mode:multiply' opacity='0.5'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.67994 10.4485C10.4492 9.29461 73.6544 3.84589 84.5518 3.07666H84.8082H85.0646C95.9621 3.84589 159.167 9.29461 164.937 10.4485C166.347 10.7049 167.372 11.7946 167.565 13.2049C168.142 16.9228 168.462 21.5382 168.462 26.5382C168.462 31.5382 168.142 36.1536 167.565 39.8716C167.372 41.2818 166.347 42.3716 164.937 42.628C159.167 43.7818 95.9621 49.2306 85.0646 49.9998H84.8082H84.5518C73.6544 49.2306 10.4492 43.7818 4.67994 42.628C3.26969 42.3716 2.24404 41.2818 2.05174 39.8716C1.47481 36.1536 1.1543 31.5382 1.1543 26.5382C1.1543 21.5382 1.47481 16.9228 2.05174 13.2049C2.24404 11.7946 3.26969 10.7049 4.67994 10.4485Z' fill='%23AA72A3'/%3e%3c/g%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.58975 7.4359C9.42309 6.28206 73.5257 0.769232 84.5514 0H84.8719H85.1924C96.2181 0.833334 160.321 6.28206 166.154 7.4359C167.564 7.69232 168.59 8.84616 168.846 10.2564C169.423 14.0385 169.744 18.718 169.744 23.7821C169.744 28.8462 169.423 33.5257 168.846 37.3077C168.654 38.718 167.564 39.8077 166.154 40.1283C160.321 41.2821 96.2181 46.7949 85.1924 47.5642H84.8719H84.5514C73.5257 46.7308 9.42309 41.2821 3.58975 40.1283C2.17949 39.8718 1.15385 38.7821 0.897439 37.3077C0.320515 33.5257 0 28.8462 0 23.7821C0 18.718 0.320515 14.0385 0.897439 10.2564C1.08975 8.84616 2.17949 7.75642 3.58975 7.4359Z' fill='url(%23paint0_linear_79_5419)'/%3e%3cpath style='mix-blend-mode:screen' fill-rule='evenodd' clip-rule='evenodd' d='M84.8727 46.4742H85.065C96.1548 45.6409 160.065 40.1922 165.834 39.0383C166.796 38.846 167.501 38.1409 167.629 37.1793C168.27 32.8204 168.527 28.2691 168.527 23.846C168.527 19.4229 168.27 14.8716 167.629 10.5127C167.501 9.55112 166.796 8.84599 165.834 8.65368C160.001 7.49983 96.1548 2.05111 85.065 1.21777H84.8727H84.6804C73.5906 2.05111 9.6803 7.49983 3.91106 8.65368C2.94952 8.84599 2.24439 9.55112 2.11618 10.5127C1.47516 14.8716 1.21875 19.4229 1.21875 23.846C1.21875 28.2691 1.47516 32.8204 2.11618 37.1793C2.24439 38.1409 2.94952 38.846 3.91106 39.0383C9.7444 40.1922 73.5906 45.705 84.6804 46.4742H84.8727Z' fill='url(%23paint1_linear_79_5419)'/%3e%3cpath style='mix-blend-mode:screen' opacity='0.5' fill-rule='evenodd' clip-rule='evenodd' d='M2.43657 11.7306C1.92375 15.3845 1.73145 19.1024 1.73145 22.7563C1.73145 24.4229 2.88529 25.8332 4.55196 26.1537C18.9751 28.6537 65.77 29.9358 84.8726 29.9358C103.975 29.9358 150.77 28.6537 165.193 26.1537C166.86 25.8973 168.014 24.487 168.014 22.7563C168.014 19.1024 167.757 15.3845 167.309 11.7306C167.309 11.346 167.18 10.8973 167.116 10.5127C166.988 9.80754 166.475 9.23061 165.77 9.10241C159.937 7.94856 96.1546 2.49984 85.0649 1.6665H84.8726H84.6803C73.5905 2.49984 9.74427 7.94856 3.97503 9.10241C3.2699 9.23061 2.75708 9.80754 2.62888 10.5127C2.62888 10.8973 2.50067 11.346 2.43657 11.7306Z' fill='url(%23paint2_linear_79_5419)'/%3e%3cpath style='mix-blend-mode:screen' fill-rule='evenodd' clip-rule='evenodd' d='M28.4621 11.4102C20.7698 12.1795 16.6031 12.2436 14.3595 11.9872C11.9236 11.6667 12.0518 9.55127 13.7826 8.97435C18.4621 7.37178 60.8339 3.78203 61.1544 6.41024C61.2827 7.49999 43.0134 9.93589 28.398 11.4102H28.4621ZM7.75695 13.0769C5.51336 13.3974 4.29541 12.5 4.29541 11.4102C4.29541 10.3205 5.32105 9.29486 7.75695 9.10255C10.3211 8.84614 11.4749 9.67948 11.539 10.7051C11.6031 11.7308 10.7057 12.6923 7.75695 13.141V13.0769Z' fill='url(%23paint3_radial_79_5419)'/%3e%3cdefs%3e%3clinearGradient id='paint0_linear_79_5419' x1='84.8719' y1='47.5642' x2='84.8719' y2='-0.0641016' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23266EE0'/%3e%3cstop offset='0.4' stop-color='%233A9EED'/%3e%3cstop offset='1' stop-color='%237DC8FF'/%3e%3c/linearGradient%3e%3clinearGradient id='paint1_linear_79_5419' x1='84.8727' y1='46.4742' x2='84.8727' y2='1.08957' gradientUnits='userSpaceOnUse'%3e%3cstop offset='0.02' stop-color='%23131932'/%3e%3cstop offset='1' stop-color='%230F4B94'/%3e%3c/linearGradient%3e%3clinearGradient id='paint2_linear_79_5419' x1='84.8726' y1='29.9358' x2='84.8726' y2='1.6665' gradientUnits='userSpaceOnUse'%3e%3cstop offset='0.02' stop-color='%23150000'/%3e%3cstop offset='0.98' stop-color='%230D64C5'/%3e%3c/linearGradient%3e%3cradialGradient id='paint3_radial_79_5419' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(22.2235 -4.415) rotate(4.26) scale(66.9873 66.9872)'%3e%3cstop stop-color='%237BC3ED'/%3e%3cstop offset='0.98' stop-color='%23080800'/%3e%3c/radialGradient%3e%3c/defs%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position:  center center;
  background-size: contain;
  padding: 1rem;
}

.title,
.btnChooseChar,
.absBtn,
.rowFlexBtns,
.startSceneClose {
  transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}

.text,
.btnChooseChar,
.rotateText,
.startSceneText {
  font-size: 1rem;
}

.startSceneText {
  gap: 0.75rem;
}

.text {
  font-weight: 600;
  line-height: 1.22;
  letter-spacing: -0.0275rem;
}

.btnsContainer,
.btnsWrapper,
.rowFlexBtns {
  z-index: 10;
}

.btnsContainer {
  gap: 0.75rem;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.btnsWrapper {
  margin: 6rem max(calc(100dvw / 2 - 680px), 2rem) 2rem 0;
  max-height: calc(100% - (var(--text-container-height) + var(--actions-mb)) - 6rem);
  max-width: min(580px, 50dvw);
  overflow-y: visible;
}

.arrow {
  z-index: 11;
  left: 50%;
  transform: translateX(-50%);
  background: var(--linear-btn);
  padding: 0.275rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  width: 2.25rem;
  height: 2.25rem;
  align-items: center;
}

.arrowInner {
  background-repeat: no-repeat;
  background-size: 0.75rem, contain;
  border-radius: 50%;
  border: 2px solid var(--border-color);
  width: 100%;
  height: 100%;
}

.arrowUp {
  top: -1.5rem;
}

.arrowUpInner {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='38' height='22' viewBox='0 0 38 22' fill='none'%3e%3cpath d='M20.9064 0.836256L37.1739 17.3041C38.2754 18.3333 38.2754 20.1345 37.1739 21.1637C36.1572 22.2788 34.3779 22.2788 33.3612 21.1637L18.9576 6.66861L4.63879 21.1637C3.62207 22.2787 1.84281 22.2787 0.826086 21.1637C-0.275363 20.1345 -0.275363 18.3333 0.826086 17.3041L17.0936 0.836255C18.1104 -0.278754 19.8896 -0.278754 20.9064 0.836256Z' fill='white'/%3e%3c/svg%3e"), var(--action-gradient);
  background-position: center top 7px, center;
}

.arrowDown {
  bottom: -1.5rem;
}

.arrowDownInner {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='38' height='22' viewBox='0 0 38 22' fill='none'%3e%3cpath d='M17.0936 21.1637L0.826087 4.69591C-0.275362 3.66667 -0.275362 1.8655 0.826087 0.836257C1.84281 -0.278752 3.62207 -0.278752 4.6388 0.836257L19.0424 15.3314L33.3612 0.836257C34.3779 -0.278752 36.1572 -0.278752 37.1739 0.836257C38.2754 1.8655 38.2754 3.66667 37.1739 4.69591L20.9064 21.1637C19.8896 22.2788 18.1104 22.2788 17.0936 21.1637Z' fill='white'/%3e%3c/svg%3e"), var(--action-gradient);
  background-position: center bottom 7px, center;
}

.btn,
.startQuest,
.startSceneClose {
  padding: 2.5px;
  background: var(--linear-btn);
  min-height: var(--btn-height);
  height: var(--btn-height);
  min-width: 10rem;
  overflow: hidden;
  border: none;
}

.btn,
.startQuest,
.btnChooseChar,
.chooseCharInner,
.btnInner,
.startInner,
.startSceneClose,
.startSceneCloseInner {
  border-radius: 99px;
  -moz-border-radius: 99px;
  -webkit-border-radius: 99px;
}

.btn .btnInner,
.startInner,
.btnChooseChar,
.startSceneCloseInner {
  text-shadow: 0px 1px 1px rgba(1, 0, 52, 0.24);
}

.btnChooseChar {
  background: var(--linear-btn);
  font-weight: 600;
  line-height: 1.375rem;
  letter-spacing: -0.02rem;
  bottom: -2rem;
  white-space: nowrap;
  padding: 2.5px;
  height: var(--btn-height);
}

.char:hover {
  transform: scale(1.01);
  -moz-transform: scale(1.01);
  -webkit-transform: scale(1.01);
}

.btnInner,
.startInner,
.chooseCharInner,
.startSceneCloseInner {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: -0.025rem;
  gap: 0.5rem;
  padding: 0 1.25rem;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='88' height='10' viewBox='0 0 88 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath style='mix-blend-mode:screen' fill-rule='evenodd' clip-rule='evenodd' d='M8.59691 9.06291C4.4884 9.59061 0.590589 8.5352 0.695936 6.52993C0.695936 4.52465 5.01512 1.78059 8.91294 1.5695C12.284 1.46396 14.1803 3.04708 14.1803 5.05235C14.1803 6.95209 12.6001 8.64074 8.59691 9.06291ZM48.5231 8.5352C32.6158 8.95737 24.5041 8.5352 19.8689 7.79642C14.9176 6.95209 15.4443 2.94154 19.0261 2.09721C28.9287 -0.33023 87.5013 -1.17456 87.9227 3.8914C88.1334 6.00222 78.7575 7.69088 48.5231 8.64074V8.5352Z' fill='url(%23paint0_radial_79_5400)'/%3e%3cdefs%3e%3cradialGradient id='paint0_radial_79_5400' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(35.1442 -14.2616) scale(86.7 86.8601)'%3e%3cstop stop-color='%237BC3ED'/%3e%3cstop offset='0.98' stop-color='%23080800'/%3e%3c/radialGradient%3e%3c/defs%3e%3c/svg%3e"), var(--linear-btn-inner);
  background-repeat: no-repeat, no-repeat;
  background-position: top 2px left 10px, top left;
  background-size: max(70px, min(20dvh, 90px)), cover;
  background-blend-mode: screen;
  -webkit-background-blend-mode: screen;
}

.absBtn,
.rowFlexBtns {
  bottom: var(--btns-bottom);
}

.startSceneClose {
  bottom: calc(var(--btns-bottom) - 1.5rem);
}

.absBtn {
  position: absolute !important;
  z-index: 10 !important;
}

.rowFlexBtns {
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  padding: 0;
  margin: 0;
  height: unset;
}

.rowFlexBtns .btn {
  min-width: var(--rowFlex-btns-width);
}

.btnInner:before {
  content: '';
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M4 15.25C4 20.6406 9.39062 25 16 25C17.7812 25 19.4219 24.7188 20.9219 24.2031C21.4375 24.5781 22.375 25.1406 23.4531 25.6094C24.5781 26.125 25.9375 26.5 27.25 26.5C27.5781 26.5 27.8594 26.3594 27.9531 26.0781C28.0938 25.7969 28 25.4688 27.8125 25.2344C27.7656 25.2344 27.7656 25.1875 27.7188 25.1406C27.6719 25.0938 27.5781 25 27.4844 24.9062C27.2969 24.6719 27.0625 24.2969 26.7812 23.875C26.3125 23.125 25.8906 22.0938 25.7969 20.9219C27.2031 19.3281 28 17.4062 28 15.25C28 9.90625 22.6562 5.5 16 5.5C9.39062 5.5 4 9.90625 4 15.25Z' fill='white'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  min-width: 2rem;
  background-position: center;
  background-size: contain;
}

.actionImage {
  top: 1.25rem;
  height: calc(100% - calc(var(--text-container-height) + var(--actions-mb)));
}

.actionImage img {
  max-width: 1160px;
  object-fit: contain;
}

.rotateScreen {
  z-index: 100000;
  background: var(--color-white);
}

.rotateImg {
  height: 50px;
  width: 100px;
  border: 3px solid var(--color-black);
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  animation: rotate 1.5s ease-in-out infinite alternate;
}

@media screen and (orientation: portrait) {
  .rotateScreen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    gap: 40px;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }

  75% {
    transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
  }

  100% {
    transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
  }
}

.startSceneTitle {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: -0.4px;
  margin-bottom: 1rem;
}

.startSceneInner,
.helpPopup {
  max-width: 960px;
  margin: 0 1.25rem;
}

.helpPopup {
  cursor: default;
  z-index: 10000;
}

.startSceneInner,
.helpPopup {
  max-height: 50dvh;
}

.startSceneContent,
.helpPopContent {
  padding: 2rem 3rem;
}

.helpPopContent,
.startSceneContent {
  text-align: center;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.3;
  overflow: hidden auto;
}

.helpPopupOverlay {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

.closeHelp {
  right: -2.25rem;
  top: -2.25rem;
}

.progressBar {
  width: 50%;
  height: 1rem;
  border: 1px solid var(--border-color);
  background: #0058C2;
}

.preloader {
  background: var(--color-white);
  z-index: 1002;
}

.progress {
  width: 0px;
  background: var(--linear-btn);
  transition: 0.3s all ease;
}

.progressText {
  font-size: 0.875rem;
  margin-top: 0.75rem;
  white-space: nowrap;
}

.progressText span:nth-child(2) {
  animation-delay: 1.65s;
}

@media screen and (max-width: 960px) {

  .text,
  .title,
  .btnInner,
  .chooseCharInner,
  .startSceneCloseInner,
  .startSceneText,
  .helpPopContent {
    font-size: 0.75rem!important;
  }

  .questControls {
    right: 1.5rem;
    top: 1.5rem;
  }

  .btnsWrapper {
    margin: 5.5rem max(calc(100dvw / 2 - 680px), 2rem) 1.75rem 0;
    max-height: calc(100% - (var(--text-container-height) + var(--actions-mb)) - 5.5rem);
  }
}